@import "materialize/components/color";
$primary-color-dark:   color("indigo", "darken-2") !default;
$primary-color:        color("indigo", "base") !default;
$primary-color-light:  color("indigo", "lighten-4") !default;
$primary-color-text:   color("white", "base") !default;
$accent-color:         color("amber", "base") !default;
$primary-text-color:   color("grey", "darken-4") !default;
$secondary-text-color: color("grey", "darken-1") !default;
$divider-color:        color("grey", "lighten-1") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "font-awesome";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.secondary-content {
  font-weight: bold;
}

.settings-show {
  margin-top: 80px;
}

.settings-edit {
  margin-top: 10px;
}

.settings-edit-form {
  margin-top: 60px;
}

.card-heading {
  color: $primary-text-color;
}

.notice {
  background: grey;
}
