<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>This is Ben from Actualize. Thanks for checking out our website! Is now a good time for you to speak for a few minutes?</p>
    <br>
    <p>Thanks,</p>
    <br>
    <p style="font-weight: bold;">Ben Pinkus</p>
    <p>Admissions Advisor</p>
    <p>773-724-1128</p>
    <%= image_tag("actualize-logo.png", width: '100') %>
    <p><%= link_to "www.actualize.co", "http://anyonecanlearntocode.com" %></p>
  </body>
</html>
